<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/inicio.css">
	<title>Document</title>

</head>
<body>
	<div class="titulo">
		<h1>Pasteleria Ancky</h1>
		<button class="boton"><a href="/CerrarSesion">Cerrar Sesion</a></button>
	</div>

	<div class="contenedor">  
		<div class="banner" style="background: grey">
			<h3>Usuario: <span th:text="${u.usuario}"></span></h3>
			<p><strong></strong></p>
			<img src="img/iconoUsuario.jpg" style="width:70%; margin-left: 9%; margin-top: 20%">
			<br><br>
			
			<a style="text-align: center;" href="actualiza-datos.jsp">Actualiza Datos</a>
	</div>
		<div class="main-container">
      <div class="card-i">
        <div class="item item--1" > 
            <a class="icon"  href="/cargarMantenedores"><ion-icon class="ion-icon" name="person"></ion-icon></a> 
             <span class="quantity"> Mantenedores </span>
        </div>
        <div class="item item--2" >
            <a class="icon"  href="/cargarConsulta"><ion-icon class="ion-icon" name="home"></ion-icon></a> 
          <span class="quantity"> Consultas </span>
        </div>
        <div class="item item--3">
            <a class="icon"  href="/cargarReportes"><ion-icon class="ion-icon"  name="bed"></ion-icon></a> 
          <span class="quantity"> Reportes </span>
        </div>
        <div class="item item--4" >
            <a class="icon"  href="/cargarConsultaEmpleado"><ion-icon  class="ion-icon" name="people"></ion-icon></a> 
          <span class="quantity"> Transaccion </span>
        </div>
    </div>
  </div>
  </div>

</body>

</html>
<script  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>