<!DOCTYPE html>
	
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" >
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <form action="/login"  method="post" >
            <h1>BIENVENIDO</h1>
            <p>Usuario</p>
            <input name="txtUsuario" type="text" class="box"    >
            <p>Contraseña</p>
            <input  name ="txtClave" type="password" class="box"  >
            <div   class="registrar">
                <p>¿No tienes una cuenta? <a href="/cargarCrearCuenta"> Cree una</a></p>
            </div>
            <button type="submit" >Ingresar</button>
            <p th:text="${error}" class="error"></p>
        </form>
    </div>

</body>
</html>