<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"	href="CSS/estilo_listado.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/normalize_index.css">
<link rel="stylesheet" href="/css/estilos.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<title>Mantenedor Clientes</title>
</head>
<body>
<div class="titulo">
		<h1>Muebleria S.A.</h1>
		<button class="boton"><a class="boton" href="/cargarMantenedores">CERRAR</a></button>
	</div>
<div class="contenedor">
<div class="container">
			
		<main>
			<section style="width: 75%;float: left;">
				<h1>Mantenedor Proveedor</h1>
				<form action="/proveedores/grabar" method="post" th:object="${proveedores}">
				<div class="form-group">
				<label for="exampleInputEmail1">Codigo</label> 
				<input	 th:field="*{cod_provee}"  class="form-control" id="cod"
					 type="number" aria-describedby="emailHelp" placeholder="Ingrese Codigo" value=""> 
			</div>
				<div class="form-group">
				<label for="exampleInputEmail1">Razon Social</label> 
				<input th:field="*{razon}"  type="text" class="form-control"   id="razon"
					aria-describedby="emailHelp" placeholder="Ingrese Razon Social"  value=""> 
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Nro RUC</label> <input th:field="*{ruc}"
					type="number" class="form-control"  id="ruc"
					placeholder="Ingrese Nro RUC" value="">
			</div>
			<div th:class="${clase}" role="alert" th:text="${mensaje}"></div>
			<input name = "txtidentificar" type ="text" class="form-control" id="identify" value ="" hidden="" >
			
			
			<button  type="submit" class="btn btn-primary" >Modificar</button>
				<a href="/cargarMantenedorProveedores" class="btn btn-primary" id="crea">Crear</a>
			
			<button  type="submit" class="btn btn-primary" >Grabar</button>
			<a href="/reporteproveedor"  target="_blank" class="btn btn-warning" > PDF</a>
		</form>
		<br>
		         
					<br>
			</section>
		</main>
		<footer>
		</footer>
	</div>
		</div>
</body>
<script type="text/javascript">
function Viajar(){

	location.replace('\Mantenedores.html');
	
}
</script>
</html>